# This file contains an example configuration with RPi as secondary mcu

# See docs/Config_Reference.md for a description of parameters.

# The rpi microcontroller is used as secondary.
# Typically, both the X and Y axes
# are connected to the main micro-controller. The rpi microcontroller is used
# on non time-critical functions such as enclosure sensors, additional fan or
# light sources

# See More :
# https://www.klipper3d.org/RPi_microcontroller.html
# http://www.orangepi.cn/orangepiwiki/index.php/Orange_Pi_Zero_3

[mcu host]
serial: /tmp/klipper_host_mcu

#[temperature_sensor SOC_Temp]
#sensor_type: temperature_host
#min_temp: 0
#max_temp: 80

#####################################################################
#   Orange Pi Cooling Fan
#####################################################################

[temperature_fan orange_pi_soc_fan]
pin: host:gpiochip1/gpio1
#max_power:
#shutdown_speed: 1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_host
#sensor_pin:
control: watermark
#max_delta:
min_temp: 0
max_temp: 80
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
target_temp: 60
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.

#####################################################################
# Auxiliary Fan
#####################################################################
[fan_generic auxiliary_fan]
pin: host:gpiochip1/gpio3
cycle_time: 0.01
hardware_pwm: false

#####################################################################
# Electrical Warehouse Cooling Fan
#####################################################################

# [controller_fan electrical_cooling_fan1]
# pin: host:gpiochip1/gpio70
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver is active.
#   The default is 1.0
#idle_timeout: 180
#   The amount of time (in seconds) after a stepper driver or heater
#   was active and the fan should be kept running. The default
#   is 30 seconds.
#idle_speed:
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when a heater or stepper driver was active and
#   before the idle_timeout is reached. The default is fan_speed.
# heater: heater_bed
#stepper:
#   Name of the config section defining the heater/stepper that this fan
#   is associated with. If a comma separated list of heater/stepper names
#   is provided here, then the fan will be enabled when any of the given
#   heaters/steppers are enabled. The default heater is "extruder", the
#   default stepper is all of them.

#####################################################################
# NeverMore Micro V6 Fan
#####################################################################

[fan_generic nevermore_micro_v6_fan1]
pin: host:gpiochip1/gpio7
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

[fan_generic nevermore_micro_v6_fan2]
pin: host:gpiochip1/gpio0
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

#####################################################################
# PTC Cooling Fan
#####################################################################

[heater_fan PTC_heat_fan1]
pin: host:gpiochip1/gpio18
#max_power:
shutdown_speed: 1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: chamber_heater
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 35
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

[heater_fan PTC_heat_fan2]
pin: host:gpiochip1/gpio19
#max_power:
shutdown_speed: 1.0
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: chamber_heater
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 35
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
#fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

#####################################################################
#   AHT20 sensor
#####################################################################

[temperature_sensor electrical_warehouse]
sensor_type: AHT2X
#   Must be "AHT1X" , "AHT2X", "AHT3X"
#   Some AHT20 sensors can use "AHT1X"
#i2c_address:
#   Default is 56 (0x38). Some AHT10 sensors give the option to use
#   57 (0x39) by moving a resistor.
i2c_mcu: host
#i2c_bus: i2c.0
i2c_software_scl_pin: host:gpiochip1/gpio11
i2c_software_sda_pin: host:gpiochip1/gpio12
#i2c_speed:
#   See the "common I2C settings" section for a description of the
#   above parameters.
aht10_report_time: 180
#   Interval in seconds between readings. Default is 30, minimum is 5

[gcode_macro Electrical_Warehouse_State]
gcode:
    # 直接读取温度，湿度暂时不显示
    {% set sensor = printer["temperature_sensor electrical_warehouse"] %}
    {action_respond_info(
        "AHT20 Sensor Status:\n"
        "Temperature: %.2f C\n"
        "Humidity: Not available in current Klipper version" % (
            sensor.temperature
        ))}

#####################################################################
#   HTU21D sensor
#####################################################################

# See more :
# http://www.orangepi.cn/orangepiwiki/index.php/Orange_Pi_Zero_3#26pin_I2C.E6.B5.8B.E8.AF.95
# https://www.klipper3d.org/Config_Reference.html?h=htu#htu21d-sensor
# https://github.com/Klipper3d/klipper/blob/master/config/sample-macros.cfg
# [temperature_sensor electrical_warehouse]
# sensor_type: HTU21D
#   Must be "HTU21D" , "SI7013", "SI7020", "SI7021" or "SHT21"
#i2c_address:
#   Default is 64 (0x40).
# i2c_mcu: host
# i2c_bus: i2c.3
#i2c_software_scl_pin: host:i2c1/gpio228
#i2c_software_sda_pin: host:i2c1/gpio229
#i2c_speed:
#   See the "common I2C settings" section for a description of the
#   above parameters.
#htu21d_hold_master: True
#   If the sensor can hold the I2C buf while reading. If True no other
#   bus communication can be performed while reading is in progress.
#   Default is False.
#htu21d_resolution:
#   The resolution of temperature and humidity reading.
#   Valid values are:
#    'TEMP14_HUM12' -> 14bit for Temp and 12bit for humidity
#    'TEMP13_HUM10' -> 13bit for Temp and 10bit for humidity
#    'TEMP12_HUM08' -> 12bit for Temp and 08bit for humidity
#    'TEMP11_HUM11' -> 11bit for Temp and 11bit for humidity
#   Default is: "TEMP11_HUM11"
# htu21d_report_time: 60
#   Interval in seconds between readings. Default is 30

# [gcode_macro Electrical_Warehouse_State]
# gcode:
#     {% set sensor = printer["htu21d electrical_warehouse"] %}
#     {action_respond_info(
#         "Temperature: %.2f°C\n"
#         "Humidity: %.2f%%" % (
#             sensor.temperature,
#             sensor.humidity))}

#####################################################################
#   Case Lights
#####################################################################
#[output_pin Case_Lights]
#pin: host:gpiochip1/gpio73
#value: 0
#shutdown_value: 0

#[gcode_macro lights_on]
#gcode:
#    SET_PIN PIN=Case_Lights VALUE=1.0

#[gcode_macro lights_off]
#gcode:
#    SET_PIN PIN=Case_Lights VALUE=0.0
