# This file contains common pin mappings for the BIGTREETECH EBBCan
# Canbus board. To use this config, the firmware should be compiled for the
# STM32F072 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB8/PB9)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBCan]
serial: /dev/serial/by-id/usb-Klipper_stm32f072xb_200047001757435736353420-if00
#canbus_uuid: 0e0d81e4210c

# [temperature_sensor EBBCan_MCU_temp]
# sensor_type: temperature_mcu
# sensor_mcu: EBBCan

[temperature_sensor EBBCan_board_temp]
sensor_type: Generic 3950
sensor_pin: EBBCan: PA3
min_temp: -10
max_temp: 85

[adxl345]
cs_pin: EBBCan: PA4
spi_bus: spi1
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points: 79.5, 76.5, 20

[extruder]
step_pin: EBBCan: PB5
dir_pin: !EBBCan: PB1
enable_pin: !EBBCan: PA9
rotation_distance: 22.58709
gear_ratio: 50:10               #BMG Gear Ratio
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PA15
sensor_type: Generic 3950
sensor_pin: EBBCan: PA0
control: pid
pid_Kp: 33.841
pid_Ki: 15.040
pid_Kd: 19.037
min_temp: -10
max_temp: 300
min_extrude_temp: 170

[tmc2209 extruder]
uart_pin: EBBCan: PB0
interpolate: False
run_current: 0.5
sense_resistor: 0.120
stealthchop_threshold: 0

[verify_heater extruder]
max_error: 240
#   The maximum "cumulative temperature error" before raising an
#   error. Smaller values result in stricter checking and larger
#   values allow for more time before an error is reported.
#   Specifically, the temperature is inspected once a second and if it
#   is close to the target temperature then an internal "error
#   counter" is reset; otherwise, if the temperature is below the
#   target range then the counter is increased by the amount the
#   reported temperature differs from that range. Should the counter
#   exceed this "max_error" then an error is raised. The default is
#   120.
#check_gain_time:
#   This controls heater verification during initial heating. Smaller
#   values result in stricter checking and larger values allow for
#   more time before an error is reported. Specifically, during
#   initial heating, as long as the heater increases in temperature
#   within this time frame (specified in seconds) then the internal
#   "error counter" is reset. The default is 20 seconds for extruders
#   and 60 seconds for heater_bed.
#hysteresis: 3
#   The maximum temperature difference (in Celsius) to a target
#   temperature that is considered in range of the target. This
#   controls the max_error range check. It is rare to customize this
#   value. The default is 5.
#heating_gain: 2
#   The minimum temperature (in Celsius) that the heater must increase
#   by during the check_gain_time check. It is rare to customize this
#   value. The default is 2.

# [multi_pin auxiliary_cooling_fan]
# pins: EBBCan: PB4 , host:gpiochip1/gpio3
#   A comma separated list of pins associated with this alias. This
#   parameter must be provided.

# fan
[fan_generic part_cooling_fan]
# pin: multi_pin:auxiliary_cooling_fan
pin: EBBCan: PB4
cycle_time: 0.01
hardware_pwm: false

[heater_fan hotend_fan]
pin: EBBCan: PB3
#max_power: 
shutdown_speed: 1.0
#cycle_time: 
#hardware_pwm: 
#kick_start_time: 
#off_below: 
#tachometer_pin: 
#tachometer_ppr: 
#tachometer_poll_interval: 
#enable_pin: 
#   See the "fan" section for a description of the above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 40
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 0.4
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0

[temperature_fan EBBCan_MCU_fan]
pin: EBBCan: PA2
#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
sensor_type: temperature_mcu
sensor_mcu: EBBCan
# sensor_pin: EBBCan: PA3
control: watermark
#max_delta:
min_temp: -10
max_temp: 85
#   See the "extruder" section for a description of the above parameters.
#pid_Kp:
#pid_Ki:
#pid_Kd:
#   The proportional (pid_Kp), integral (pid_Ki), and derivative
#   (pid_Kd) settings for the PID feedback control system. Klipper
#   evaluates the PID settings with the following general formula:
#     fan_pwm = max_power - (Kp*e + Ki*integral(e) - Kd*derivative(e)) / 255
#   Where "e" is "target_temperature - measured_temperature" and
#   "fan_pwm" is the requested fan rate with 0.0 being full off and
#   1.0 being full on. The pid_Kp, pid_Ki, and pid_Kd parameters must
#   be provided when the PID control algorithm is enabled.
#pid_deriv_time: 2.0
#   A time value (in seconds) over which temperature measurements will
#   be smoothed when using the PID control algorithm. This may reduce
#   the impact of measurement noise. The default is 2 seconds.
target_temp: 40
#   A temperature (in Celsius) that will be the target temperature.
#   The default is 40 degrees.
#max_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when the sensor temperature exceeds the set value.
#   The default is 1.0.
#min_speed: 0.3
#   The minimum fan speed (expressed as a value from 0.0 to 1.0) that
#   the fan will be set to for PID temperature fans.
#   The default is 0.3.
#gcode_id:
#   If set, the temperature will be reported in M105 queries using the
#   given id. The default is to not report the temperature via M105.

[probe]
pin: EBBCan: PB2
x_offset: -34.027
y_offset: -13.937
z_offset: 8.275
speed: 5
samples:3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.05
samples_tolerance_retries: 3

#[bltouch]
#sensor_pin: ^EBBCan:PA5
#control_pin: EBBCan:PA4

#[filament_switch_sensor switch_sensor]
#switch_pin: EBBCan:PB6

#[filament_motion_sensor motion_sensor]
#switch_pin: ^EBBCan:PB7
